@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
                todoList = []
                fetch("/TodoList")
                        .then(response => response.json())
                        .then(data => {
                            todoList = data
                            populateTodoList(todoList)
                        })
                        .catch(error => console.error(error));

                function populateTodoList(todoList) {
                    const todoContainer = document.querySelector(".todos")
                    // Clear existing list items
                    todoContainer.innerHTML = '';

                    // Loop through the todoList and create list items
                    todoList.forEach(todo => {
                        const listItem = document.createElement('li');
                        listItem.innerHTML = `

                        <label class="flex justify-between border bg-black text-white rounded-md px-3 py-2 my-3 cursor-pointer">
                            ${todo.content}
                            <button type="button" class="focus:outline-black rounded-lg text-white text-sm py-2.5 px-4 bg-gray-800 hover:bg-green-400 hover:text-black">Done ✅</button>
                        </label>

                `;
                        // Append the created list item to the container
                        todoContainer.appendChild(listItem);
                    });
                }
        </script>
    </head>
    <body>
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content

        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    </body>
</html>
